# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Streamlit
.streamlit/

# Pytest
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Data outputs
data/processed/*.parquet

# IDE
.vscode/
.idea/